html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter",sans-serif;
}
main{
    color: #ececec;
}

span{
    font-weight: bolder;
}

/*-----------------HEADER----------------------*/
header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    font-size: 1.5rem;
    background-color: black;
}
header a{
    text-decoration: none;
    color: #E9D978;
}
header h2{
    color: #E9D978;
    font-weight: 100;
    margin-left: -250px;
}

.nav-list{
    list-style-type: none;
    display: flex;
    gap: 1rem;
}
.nav-list li a{
    text-decoration: none;
    cursor: pointer;
    color: #E9D978;
}

.nav-list li a:hover{
    color: #f3ebb7;
}

.abrir-menu{
    display: none;
}
.cerrar-menu{
    display: none;
}

/*-----------------HOME----------------------*/
.home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

.centrado{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    padding-left: 150px;
    background-color: transparent;
}
.centrado button{
    color: #E9D978;
    border-width: 1px;
    border-style: solid;
    border-color: #E9D978;
    border-radius: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 22px;
    cursor: pointer;
    background-color: black;
}
.centrado button a{
    text-decoration: none;
    color: #E9D978;
    
}
.centrado button a:hover{
    color: black;
}
.centrado button:hover{
    background-color: #E9D978;
}
.home h1{
    color: #E9D978;
    font-weight: lighter;
    font-size: 9rem;
    margin-bottom: 15px;
    background-color: transparent;
}
.home p{
    color: white;
    text-align: center;
    font-size: 22px;
    margin-bottom: 15px;
    background-color: transparent;
    width: 50%;

}
.edificio{
    width: 350px;
    padding-top: 180px;
}
.blair-y-serena{
    width: 500px;
    
} 



/*-----------------SOBRE----------------------*/
#sobre{
    background-image: url(images/SOBRE/todos.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}
.sobre-cont h1{
    color: #E9D978;
    font-weight: 500;
    font-size: 8rem;
    margin-bottom: 15px;
    background-color: transparent;
}

.sobre-cont span{
    color: white;
    filter: none;
}
.sobre-cont p{
    color: white;
    text-align: center;
    font-size: 22px;
    margin-bottom: 15px;
    background-color: transparent;
    width: 60%;

}
.sobre button{
    background-color: transparent;
    padding-left: 100px;
    padding-right: 100px;
}


/*-----SOBRE.HTML--------------*/
.main-sobre{
    background-color: black;
}
.main-sobre h1{
    color: #E9D978;
    font-size: 120px;
    text-align: center;
    margin-bottom: 30px;
}

.main-sobre h2{
    color: #E9D978;
    font-size: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.main-sobre p{
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.alineacion-derecha{
    text-align: left;
    display: flex;
    align-items: center;
}

.main-sobre img{
    width: 50%;
}

.alineacion-izquierda{
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center
}



/*-----------------PERSONAJES----------------------*/
#personajes{
    background-color: black;

}
#personajes h1{
    color: #E9D978;
    text-align: center;
    font-size: 250px;
    margin-top: -120px;
    
}

.tarjetas-personajes{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.personaje{
    text-decoration: none;
}

.personaje img{
    width: 250px;
    height: 408px;
    border-radius: 10px;
    transition: 0.5s;
}

.personaje img:hover{
    border-top-right-radius:0px;
	border-bottom-left-radius:0px;
    border-top: 1px solid #ececec;
	border-left: 1px solid #ececec;
}


.personaje h6{
    color: #E9D978;
    font-weight: lighter;
    font-size: 25px;
    text-align: center;
}

.personaje p{
    color: #ececec;
    font-weight: lighter;
    font-size: 20px;
    text-align: center;
}


/*--------PERSONAJES.HTML---------*/
.body-personajes{
    background-color: black;
}

.body-personajes h1{
    color: #E9D978;
    font-size: 150px;
    text-align: center;
}


/*--------------------FOOTER---------------------*/
footer{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5rem;
}

.nav-list-footer{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 50%;
    
}

.nav-list-footer li a{
    text-decoration: none;
    cursor: pointer;
    color: #E9D978;
}

.nav-list-footer li a:hover{
    color: #f3ebb7;
}

footer p{
    color: #ececec;
    text-align: center;
    margin-top: 20px;
}


/*-----------------GALERIA----------------------*/
#galeria{
    background-color: black;
    padding-top: 100px;
    margin-bottom: -100px;
    display: flex;
}

#galeria h1{
    color: #E9D978;
    font-size: 200px;
    position: relative;
    left: -75px;
    writing-mode: vertical-lr;
}

.conjunto-fotos{
    display: flex;
   margin-left: -75px;
    width: 87%;
}

.mobile-div{
    width: 82%;
}

.conjunto-fotos img{
    position: relative;
}

.img-gal-1{
    width: 280px;
    height: 289px; 
}

.img-gal-2{
    width: 451px;
    height: 705px;
    left: 20px; 
}

.img-gal-3{
    width: 285px;
    height: 406px; 
    top: 300px;
    left: -730px;
    
}

.img-gal-4{
    width: 350px;
    height: 340px; 
    left: -230px;
}

.frase {
    position: relative;
    top: -280px;
    left: 800px;
    color: #ececec;
    text-align: center;
    font-size: 1.2rem;
    width: 200px;
}

.frase h4{
    width: 200px;
}

.frase button{
    color: #E9D978;
    border-width: 1px;
    border-style: solid;
    border-color: #E9D978;
    border-radius: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 22px;
    cursor: pointer;
    background-color: black;
    margin-top: 20px;
}

.frase button a{
    text-decoration: none;
    color: #E9D978;
}

.frase button:hover{
    color: black;
    background-color: #E9D978;
}

.frase button a:hover{
    color: black;
}





/*-----galeria.html-----*/
.galeria-main{
    background-color: black;
    padding-top: 100px;
    margin-bottom: -100px;
    display: flex;
}

.galeria-main h1{
    color: #E9D978;
    font-size: 200px;
    position: relative;
    left: -75px;
    writing-mode: vertical-lr;
}

img {
    max-width: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
  }
  li{
    list-style: none;
  }
  
  
  .carrousel {
    width: 100%;
    max-width: 60em;
    padding: 2em;
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: transparent;
    overflow: hidden;
  }
  
  .carrousel .grande {
    width: 400%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    transition: all 0.4s ease;
    border-radius: 1em;
    padding: 2em;
    transition: all 0.5s ease;
    transform: translateX(0%);
  }
  
  .carrousel img {
    width: calc( 100% / 12 - 6em);
    height: 55vh;
    width: 45vh;
    transition: all 0.4s ease;
    border-radius: 1em;
  }
  
  .carrousel .puntos {
    width: 100%;
    margin: 1em 0 0;
    padding: 0.4em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  
  .carrousel .punto {
    width: 2em;
    height: 2em;
    margin: 1em 1em 0;
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: #ececec;
  }
  
  .carrousel .punto.activo {
    background-color: #E9D978;
  }




/*-----------------SERENA----------------------*/
.body-serena{
    background-color: black;
}

.body-serena h1{
    color: #E9D978;
    text-align: center;
    font-size: 110px;
    padding-top: 40px;
    padding-bottom: 20px;
}


.body-serena .cont-columnas{
    display: flex;
    justify-content: space-around;
    width: 98%;
    margin: 5px;
}

.body-serena .columna1{
    display: flex;
    align-items: center;
}

.img-serena-1{
    width: 500px;
    margin-left: 10px;
    margin-right: 10px;
}

.img-serena-2{
    width: 250px;
}

.img-serena-3{
    width: 300px;
}


.body-serena .columna3{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-serena .columna3 p{
    text-align: center;
    font-size: 1.5em;
    margin-top: 50px;
}


/*-----------------BLAIR----------------------*/
.body-blair{
    background-color: black;
}

.body-blair h1{
    color: #E9D978;
    font-size: 120px;
    position: relative;
    left: -50px;
    writing-mode: vertical-lr;
    margin-top: 40px;
}

.cont-blair-mayor{
    display: flex;
}

.body-blair .cont-mitades{
    display: flex;
    margin-top: 40px;
}

.body-blair .mitad1{
    padding-top: 100px;
    width: 80%;
}

.body-blair .mitad1 p{
    text-align: center;
    font-size: 1.5rem;
    padding-right: 25px;
}


.body-blair .mitad2 {
    width: 80%;
    height: 850px;
    background-image: url(images/PERSONAJES/blair1.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.body-blair .superpuesto img{
    width: 90%;
}

.body-blair .superpuesto{
    position: relative;
    margin-top: 60px;
    left: 150px;
}


/*-----------------NATE----------------------*/

.body-nate{
    background-color: black;
}

.nate-mayor{
    display: flex;
    margin-bottom: 70px;
    margin-top: 40px;
}

.nate-mayor h1{
    color: #E9D978;
    font-size: 115px;
}

.nate-mayor p{
    text-align: center;
    font-size: 1.3rem;
    width: 85%;
    margin-left: 55px;
    margin-top: 20px;
}

.nate-mayor .mitad img{
    width: 450px;
    margin-left: 140px;
    margin-top: 55px;
}

.nate-mayor .mitad2{
    width: 200%;
}



/*-----------------CHUCK----------------------*/
.body-chuck{
    background-color: black;
}

.cont-mitades-chuck{
    display: flex;
}

.mitad-chuck-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
}

.mitad-chuck-1 img{
    width: 75%;
}
.mitad-chuck-1 p{
    text-align: center;
    font-size: 1.3rem;
    width: 70%;
    margin-top: 80px;
}

.mitad-chuck-2 h1{
    position: relative;
    color: #E9D978;
    font-size: 120px;
    right: -455px;
    top: -150px;
    writing-mode: vertical-lr;
    margin-top: 40px;
}

.mitad-chuck-2 img{
    width: 500px;
    margin-bottom: -550px;
}

/*-----------------------------------XOXO-------------------------*/
.body-xoxo{
    background-image: url(images/XOXO/xoxo2.jpg);
    background-size: cover;
    background-position: center;
}

.cont-titulo{
    display: flex;
    justify-content: center;
}

.cont-titulo img{
    width: 75%;
}

.cont-columnas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 40px;
}

.columna-1{
    width: 25%;
    color: #ececee;
    font-size: 20px;
}

.columna-1 p{
    margin-bottom: 15px;
    font-size: 1.2rem;
    font-weight: 300;
}

.columna-2{
    background-color: aliceblue;
    width: 35%;
    border-radius: 30px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}
.columna-2 h3{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 30px;
}
.columna-2 p{
    width: 90%;
    margin-bottom: 20px;
}

.columna-2 img{
    width: 330px;
    margin-bottom: 10px;
}

.azul{
    color: #406A94;
}

.marron{
    color: #956960;
}

.amarillo{
    color: #C5CAB3;
}

/*--------------------NAV------------------*/
.header-xoxo{
    background-color: transparent;
}
.nav-xoxo{
    background-color: transparent;
}
.ul-xoxo{
    list-style: none;
    
}
.li-xoxo{
    margin-bottom: 10px;
    background-color: #E9D978;
    border-radius: 50%;
    width: 80px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.a-xoxo{
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}


/*-----------CONTACTO.HTML----------*/

.body-contacto {
    background-color: black;
}
.body-contacto .container {
    display:grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2,50%);
    padding: 20px;
    width: 1000px;
    margin-left: 180px;
}

.body-contacto img{
    width: 85%;
}

.body-contacto .box-info {
    color:#fff;
    display:flex;
    flex-direction: column;
    gap:10px;
}

.body-contacto .box-info > h1 {
    text-align: left;
    font-size: 60px;
    color: #E9D978;
}

.body-contacto .data {
    display: flex;
    flex-direction: column;
    gap:25px
}

.body-contacto .data > p {
    font-size: 1.2rem;
}

.body-contacto form {
    display:flex;
    flex-direction: column;
    text-align: center;
    gap:15px;
}

.body-contacto .input-box {
    position:relative;
}

.body-contacto .input-box > input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    outline:none;
    background: rgba(255 255 255 / .1);
    border:3px solid transparent;
    letter-spacing: 1px;
    transition:.3s;
    color:#fff;
    
}

.body-contacto .input-box > input::placeholder,
.body-contacto .input-box > textarea::placeholder {
    color:#a3a3a3;
    
}

.body-contacto .input-box > input:focus::placeholder,
.body-contacto .input-box > textarea:focus::placeholder {
    color:transparent;
}

.body-contacto .input-box > input:focus,
.body-contacto .input-box > textarea:focus {
    border-bottom:3px solid #E9D978;
    animation: shake .2s;
}

.body-contacto .input-box > textarea {
    width: 100%;
    height: 130px;
    padding: 10px;
    background: rgba(255 255 255 / .1);
    border:3px solid transparent;
    letter-spacing: 1px;
    outline: none;
    transition:.3s;
    color:#fff;
    letter-spacing: 1.5px;
}


.body-contacto .input-box > i {
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    right: 10px;
    color:rgba(255 255 255 / .3);
    transition: .3s;
}

.body-contacto .input-box > input:focus ~ i {
    color:#E9D978;
}

.body-contacto form > button {
    width: 100%;
    padding: 10px;
    outline: none;
    background: #E9D978;
    color:#fff;
    border:none;
    transition: .1s;
    cursor: pointer;
    font-size: 1rem;
}

.body-contacto form > button:hover,
.body-contacto .links > a:hover {
    background: #bdb162;
}






















@media screen and (max-width: 480px) {

/*-----------------HEADER----------------------*/

    .abrir-menu, .cerrar-menu{
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
        color: #E9D978;
    }
    .nav{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 2rem;
        background-color: black;
        box-shadow: rgba(220, 212, 212, 0.05) 0px 1px 2px 0px;
    }
    header h2{
        color: #E9D978;
        font-weight: 100;
        margin-left: 0px;
        margin-right: 350px;
    }
    

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    header{
        display: flex;
        justify-content: flex-end;
    }
    .nav-list {
        flex-direction: column;
        align-items: end;
    }
    .nav-list li a {
       color: #E9D978;

    }
 
    
/*-----------------HOME----------------------*/
.home{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.centrado{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin-left: 140px;
    padding-left: 0px;
    background-color: transparent;
}
.centrado button{
    color: #E9D978;
    border-width: 1px;
    border-style: solid;
    border-color: #E9D978;
    border-radius: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 10px;
    cursor: pointer;
}
.home h1{
    color: #E9D978;
    font-weight: 200;
    font-size: 45px;
    padding: 0;
    margin-bottom: 15px;
    background-color: transparent;

}
.home p{
    color: white;
    text-align: center;
    font-size: 11px;
    margin-bottom: 15px;
    background-color: transparent;
    width: 100%;
    padding: 0;


}
.edificio{
    width: 180px;
    padding-top: 0px;
}
.blair-y-serena{
    width: 180px;
    height: 280px;
}



/*-----------------SOBRE----------------------*/
#sobre{
    background-image: url(images/SOBRE/todos.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.sobre-cont h1{
    color: #E9D978;
    font-weight: 500;
    font-size: 50px;
    margin-bottom: 15px;
    background-color: transparent;
    width: 400px;
}

.sobre-cont span{
    color: white;
    filter: none;
}
.sobre-cont p{
    color: white;
    text-align: center;
    font-size: 15px;
    margin-bottom: 15px;
    background-color: transparent;
    width: 350px;

}
.sobre button{
    background-color: transparent;
    padding-left: 70px;
    padding-right: 70px;
}



/*-----SOBRE.HTML--------------*/
.body-sobre{
    background-color: black;
}
.main-sobre h1{
    color: #E9D978;
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}

.main-sobre h2{
    color: #E9D978;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
}

.main-sobre p{
    font-size: 1em;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 15px;
}

.alineacion-derecha{
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.main-sobre img{
    width: 50%;
}

.alineacion-izquierda{
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}



/*-----------------PERSONAJES----------------------*/
#personajes{
    background-color: black;

}
#personajes h1{
    color: #E9D978;
    text-align: center;
    font-size: 85px;
    margin-top: -45px;
    
}

.tarjetas-personajes{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.personaje{
    text-decoration: none;
}

.personaje img{
    width: 100px;
    height: 170px;
    border-radius: 8px;
}

.personaje h6{
    color: #E9D978;
    font-weight: lighter;
    font-size: 10px;
    text-align: center;
}

.personaje p{
    color: #ececec;
    font-weight: lighter;
    font-size: 8px;
    text-align: center;
}


/*--------PERSONAJES.HTML---------*/
.body-personajes{
    background-color: black;
}

.body-personajes h1{
    color: #E9D978;
    font-size: 80px;
    text-align: center;
}




/*--------------------FOOTER---------------------*/
footer{
    padding: 50px;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1rem;
}

.nav-list-footer{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
}

.nav-list-footer li a{
    text-decoration: none;
    cursor: pointer;
    color: #E9D978;
}



footer p{
    color: #ececec;
    text-align: center;
    margin-top: 10px;
}


/*-----------------GALERIA----------------------*/
#galeria{
    background-color: black;
    padding-top: 50px;
}
#galeria h1{
    color: #E9D978;
    font-size: 100px;
    position: relative;
    left: -30px;
    writing-mode: vertical-lr; 
}

.mobile-div{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
}

.conjunto-fotos{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5px;
}

.conjunto-fotos img{
    position: static;
    margin-bottom: 20px;
}

.img-gal-1{
    width: 243px;
    height: 210px; 
}

.img-gal-2{
    width: 231px;
    height: 250px; 
}

.img-gal-3{
    width: 243px;
    height: 285px;     
}

.img-gal-4{
    width: 231px;
    height: 200px; 
}

.frase {
    position:relative;
    color: #ececec;
    text-align: center;
    font-size: 1rem;
    height: 110px;
    top: 0px;
    left: 70px;
}

.frase h4{
    width: 200px;
}
.frase i{
    font-size: 2rem;
    color: #E9D978;
}
.frase button{
    display: none;
}


/*-----galeria.html-----*/
.galeria-main{
    background-color: black;
    padding-top: 0px;
    margin-bottom: 0px;
    display: block;
}

.galeria-main h1{
    color: #E9D978;
    font-size: 100px;
    position: block;
    left: 0px;
    writing-mode: horizontal-tb;
}

img {
    max-width: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
  }
  li{
    list-style: none;
  }
  
  .carrousel {
    width: 100%;
    max-width: 30em;
    padding: 0em;
    transition: all 0.4s ease;
    border-radius: 0.5em;
    margin-left: 0px;
    margin-top: 35px;
  }
  
  .carrousel .grande {
    width: 400%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    transition: all 0.4s ease;
    border-radius: 1em;
    padding: 2em;
    transition: all 0.5s ease;
    transform: translateX(0%);
  }
  
  .carrousel img {
    width: calc( 100% / 7 - 3.5em);
    height: 65vh;
    transition: all 0.4s ease;
    border-radius: 1em;
  }

  .no-mobile{
    display: none;
  }
  
  .carrousel .puntos {
    width: 100%;
    margin: 1em 0 0;
    padding: 0.4em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  
  .carrousel .punto {
    width: 2em;
    height: 2em;
    margin: 1em 1em 0;
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: #ececec;
  }
  
  .carrousel .punto.activo {
    background-color: #E9D978;
  }





/*-----------------SERENA----------------------*/
.body-serena{
    background-color: black;
}

.body-serena h1{
    color: #E9D978;
    text-align: center;
    font-size: 50px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.cont-columnas{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 0px;
}

.body-serena .columna1{
    display: block;
}

.img-serena-1{
    width: 350px;
    margin: 0;
    padding-bottom: 30px;
}

.img-serena-2{
    display: none;
}

.img-serena-3{
    width: 350px;
}


.columna3{
    width: 100%;
    display: block;
    margin-top: 10px;
}

.columna3 p{
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 80px;
    width: 350px;
    margin-top: 0px;
}



/*-----------------BLAIR----------------------*/
.body-blair{
    background-color: black;
}

.body-blair h1{
    color: #E9D978;
    font-size: 120px;
    position:absolute;
    left: -50px;
    writing-mode: vertical-lr;
    margin-top: 0px;
}


.cont-blair-mayor{
    display: block;
}

.body-blair .cont-mitades{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 0px;
}

.body-blair .mitad1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    padding-top: 25px;
    width: 80%;
}


.body-blair .mitad1 p{
    text-align: center;
    font-size: 1rem;
    width: 100%;
    margin-bottom: -40px;
}

.body-blair .mitad2{
    display: flex;
    justify-content: center;
    
}

.body-blair .mitad2 {
    width: 65%;
    padding-right: 380px;
    background-image: url(images/PERSONAJES/blair1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


.body-blair .superpuesto{
    position:static;
}

.body-blair .superpuesto img{
    width: 250px;
}



/*-----------------NATE----------------------*/

.body-nate{
    background-color: black;
}

.nate-mayor{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 0px;
}

.nate-mayor h1{
    color: #E9D978;
    font-size: 65px;
    text-align: center;
}

.nate-mayor p{
    text-align: center;
    font-size: 1rem;
    width: 85%;
    margin-left: 0px;
    margin-top: 20px;
}

.nate-mayor .mitad{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nate-mayor .mitad img{
    width: 250px;
    margin-left: 0px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.nate-mayor .mitad2{
    width: 70%;
}




/*-----------------CHUCK----------------------*/
.body-chuck{
    background-color: black;
}

.cont-mitades-chuck{
    display: flex;
    flex-direction: column-reverse;
}

.mitad-chuck-1{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    
}

.mitad-chuck-1 img{
    width: 65%;
}
.mitad-chuck-1 p{
    text-align: center;
    font-size: 1rem;
    width: 75%;
    margin-top: 0px;
    margin-bottom: 30px;
}

.mitad-chuck-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -350px;
}

.mitad-chuck-2 h1{
    position: relative;
    color: #E9D978;
    font-size: 80px;
    right: 0px;
    left: -210px;
    top: -400px;
    writing-mode: vertical-lr;
    margin-top: 0px;
}

.mitad-chuck-2 img{
    width: 300px;
    margin-bottom: 0px;
}




/*--------------------------XOXO-------------------------*/
.body-xoxo{
    background-image: url(images/XOXO/xoxo2.jpg);
    background-size: cover;
    background-position: center;
}

.cont-titulo{
    display: flex;
    justify-content: center;
}

.cont-titulo img{
    width: 75%;
}

.cont-columnas{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 40px;
}

.columna-1{
    width: 80%;
    color: #ececee;
}

.columna-1 h2{
    font-size: 30px;
}

.columna-1 p{
    margin-bottom: 15px;
    font-size: 1rem;
    font-weight: 300;
}

.columna-2{
    background-color: aliceblue;
    width: 75%;
    border-radius: 30px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.columna-2 h3{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 30px;
}
.columna-2 p{
    width: 90%;
    margin-bottom: 20px;
}

.columna-2 img{
    width: 330px;
    margin-bottom: 10px;
}

.azul{
    color: #406A94;
}

.marron{
    color: #956960;
}

.amarillo{
    color: #C5CAB3;
}

/*--------------------NAV------------------*/
.header-xoxo{
    background-color: transparent;
}
.ul-xoxo{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}
.li-xoxo{
    margin-bottom: 10px;
    background-color: #E9D978;
    border-radius: 50%;
    width: 60px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
}
.a-xoxo{
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
}
     /*--------CONTACTO.HTML---------*/
     .body-contacto .container  {
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:30px;
        margin-left: 15px;
    }

    .box-info {
        gap:15px;
    }

    .box-info > h1 {
        font-size: 1.5rem;
    }

    .box-info img{
        margin-left: 25px;
    }

    .body-contacto form{

        width: 95%;
    }

}